{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="text-center text-uppercase fw-bold pb-5">{{ program.title }}</h1>
            <p class="fst-italic"><span class="fw-bold">synopsis :</span> {{ program.synopsis }}</p>
            <p><span class="fw-bold">Nombre de saisons :</span> {{ seasons|length }}</p>
            <p><span class="fw-bold">Catégorie :</span> {{ program.category.name }}</p>
            <p class="fw-bold">Liste des saisons</p>
            <ul>
            {% for season in seasons %}
                <li><a href="{{ path("program_season_show", { program: program.id, seasons: season.number }) }}">Accéder à la liste des épisodes de la saison {{ season.number }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}